body {
  background-color: white;
  color: black;
  font-family: Verdana, Geneva, sans-serif;
  margin: 0 auto;
  width: 90%;
}

a:link, a:visited {
    color: royalblue;
    text-decoration: none;
}

a:hover {
    color: blue;
    font-weight: 500;
    text-decoration: underline;
}

a:active {
    color: white;
}

h1 {
  color: green;
}

/* https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

footer  {
  clear: both;
  font-size: 60%;
  margin-top: 3em;
}

#mainnav {
  margin-bottom: 22px;
  padding: 0 0;
}

#mainnav ul {
  border-left: 1px solid black;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
}

#mainnav li {
  border-right: 1px solid black;
  display: inline;
  padding: 0 10px;
}

h3.textcal {
  color: green;
  margin-bottom: 0;
}

p.textcal {
  color: black;
  height: auto;
  margin-top: 0;
  max-height:300px;
  max-width:300px;
}

img {
  vertical-align: top;
  width: auto;
}
